body .container-fluid {
	h2{
		@include tituloSeccion;
	}
	padding: 0;
	#barraNav {
		@include barraNav;
		.navIzq {
			text-right: right;
			h3 {
				font-family: $manuscrita;
				color: $agua;
				font-size: 35px;
			}
		}
		.navDer p {
			margin-top: 25px;
			font-family: $manuscritaCursiva;
			color: $celeste;
			font-size: 20px;
		}
		.navDirigido {
			text-align: right;
			padding-top: 20px;
		}
		li {
			font-family: $fuenteSecundaria;
			list-style: none;
			text-decoration: none;
			display: inline;
			padding: 0;
			margin-top: 60px;
			a{
				text-decoration: none;
				color: $agua;
				font-size: 20px;
				margin: 25px 15px;
				margin: 5px;
			}
		}
	}
	#banner {
		padding-top: 100px;
		padding-bottom: 150px;
		video {
			width: 100%;
			position: absolute; 
			top: 0;
			left: 0;
			z-index: -100;
		}
		h1 {
			font-size: 100px;
			text-align: center;
			font-family: $manuscritaCursiva;
			color: $naranjo;
		}
		p {
			font-family: $manuscritaCursiva;
			color: $sandia;
		}
		span {
			font-size: 70px;
		}
	}
	#acercaDeMi {
		padding-top: 100px;
		background-color: $agua;
		.contenido-acercaDeMi {
			padding-top: 40px;
			#img-acercaDeMi {
				padding-left: 100px;
				text-align: center;
				img {
					@include imgPerfil;
				}
				img:hover {
					-webkit-filter: grayscale(0);
					filter: grayscale(0);
				}
			}
			#txt-acercaDeMi {
				padding-right: 100px;
				h3 {
					@include subtitulos;
				}
				p {
					@include textos;
					text-align: justify;
				}
			}	
		}
	}
	#skills {
		padding-top: 100px;
		.div-img img {
			height: 200px;
			margin: 20px auto;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			&:hover {
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
				height: 150px;
			}
		}
		td {
			padding: 0;
		}
	}
	#misProyectos {
		padding-top: 100px;
		.acordeonProyectos {
			@include divAcordeon;
			ul {
				@include listaAcordeon;
				li {
					@include elementoLista;
					div {
						@include divDeElemento;
						a {
							@include enlaceDeElemento;
							* {
								@include elementosDeEnlace;
							}
							h3 {
								@include tituloProyecto;
							}
							p {
								@include textoProyecto;
							}
						}
					}
				}
				li:nth-child(1) { 
					background-image: url(../../dist/images/bicis-locas-jquery.png); 
				}
    			li:nth-child(2) { 
    				background-image:url(../../dist/images/bunny-love.png); 
    			}
    			li:nth-child(3) { 
    				background-image:url(../../dist/images/comunidad-sostenible.png); 
    			}
    			li:nth-child(4) { 
    				background-image:url(../../dist/images/danza-arte.png); 
    			}
    			li:nth-child(5) { 
    				background-image:url(../../dist/images/coder-girl.png); 
    			}
    			li:nth-child(6) { 
    				background-image:url(../../dist/images/creamy-theme.png); 
    			}
    			&:hover li { 
    				width:8%; 
    			}
				&:hover li:hover {
					width:60%;
					a {
						background:rgba(0,0,0,.4);
						* {
							opacity:1;
							-webkit-transform:translateX(0);
							transform:translateX(0);
						}
					}
				}
			}
		}
	}
	#contactame {
		padding-top: 100px;
		.datosDeContacto {
			text-align: center;
			.nombre {
				@include subtitulos;
				margin: 60px auto 10px;
			}
			.frontend {
				@include textos;
				font-size: 25px;
			}
			.iconosContacto {
				text-align: center;
				padding-top: 40px;
				padding-bottom: 60px;
				margin-bottom: 100px;
				a {
					text-decoration: none;
					color: $naranjo;
					&:hover i {
						color: $sandia;
					}
					.fa {
						font-size: 60px;
						margin: 10px 30px;
					}
				}
			}

		}
	}
}