$blanco: white;
$negro: black;
$gris: lightgrey;
/*paleta de colores*/
$calipso: #39bea6;
$celeste: #bae5d6;
$agua: #ecfef8;
$sandia: #f58f6f;
$naranjo: #db5f43;
$manuscritaCursiva: 'Pacifico', cursive;
$manuscrita: 'Pacifico';
$fuenteSecundaria: 'Delius';
$altoAcordeon: 350px;
$textOffset: $altoAcordeon - 90;